#tanura-src
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://nginx.it-con.biz/cdn/stylesheets/literallycanvas.css')
    script(type='text/javascript', src='/javascripts/throttle.js')
    script(type='text/javascript', src='/javascripts/erizo.js')
    script(type='text/javascript', src='https://nginx.it-con.biz/cdn/javascripts/literallycanvas-core.js')
    script(type='text/javascript', src='/javascripts/script.js', defer)
