doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=400, initial-scale=1, minimum-scale=1, maximum-scale=1')
  body
    block content
    link(rel='stylesheet', href='/stylesheets/literallycanvas.css')
    link(rel='stylesheet', href='/stylesheets/colors.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/fonts.css')
    link(rel='stylesheet', href='/stylesheets/typo.css')
    script(type='text/javascript', src='/javascripts/throttle.js')
    script(type='text/javascript', src='/javascripts/erizo.js')
    script(type='text/javascript', src='/javascripts/literallycanvas-core.js')
    script(type='text/javascript', src='/javascripts/script.js')

