doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://nginx.it-con.biz/cdn/stylesheets/literallycanvas.css')
    link(rel='stylesheet', href='https://nginx.it-con.biz/cdn/stylesheets/font-awesome.css')
    script(type='text/javascript', src='/javascripts/throttle.js')
    script(type='text/javascript', src='/javascripts/erizo.js')
    script(type='text/javascript', src='https://nginx.it-con.biz/cdn/javascripts/literallycanvas-core.js')
    script(type='text/javascript', src='/javascripts/script.js')
    meta(name='viewport', content='width=400, initial-scale=1, minimum-scale=1, maximum-scale=1')
  body
    block content

