doctype html
html
  head
    title= title
    script(type='text/javascript', async, src='/tanura.js')
    script(type='text/javascript', async, src='/script.js')
    meta(
        name='viewport',
        content='width=400, initial-scale=1, minimum-scale=1, maximum-scale=1')
  body
    block content

