
.primary, body {
    color: rgba(0, 0, 0, 0.87);
}

.secondary {
    color: rgba(0, 0, 0, 0.54);
}

.disabled, .hint, .icon, .fa {
    color: rgba(0, 0, 0, 0.38);
}

.active .icon, .active .fa {
    color: rgba(0, 0, 0, 0.54);
}

.divider, .card {
    border-color: rgba(0, 0, 0, 0.12);
}

.inverted .primary, body .inverted {
    color: rgba(255, 255, 255, 1);
}

.inverted .secondary {
    color: rgba(255, 255, 255, 0.7);
}

.inverted .disabled, .inverted .hint, .inverted .icon, .inverted .fa {
    color: rgba(255, 255, 255, 0.5);
}

.inverted .active .icon, .inverted .active .fa {
    color: rgba(255, 255, 255, 1);
}

.inverted .divider, .inverted .card {
    border-color: rgba(255, 255, 255, 0.12);
}

.fg, .card {
    background-color: #ffffff;
}

.bg.light, #main {
    background-color: #fafafa;
}

.bg, body {
    background-color: #f5f5f5;
}

.bg.dark, aside, nav {
    background-color: #e0e0e0;
}

.inverted .fg {
    background-color: #424242;
}

.inverted .bg.light {
    background-color: #303030;
}

.inverted .bg {
    background-color: #212121;
}

.inverted .bg.dark {
    background-color: #000000;
}

