
/*
 * Main stylesheet.
 *
 * This contains all styling information essential to Tanura.
 */

.bar, .loader {
    display: none!important;
}

#people {
    display: flex;
    flex-wrap: wrap;
}

#people > * {
    width: 192px;
    height: 192px;
}

