
body {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.2em;
}

p {
    margin-bottom: 0.5em;
}

h1 {
    font-size: 112px;
    font-weight: 300;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 34px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 15px;
}

header, footer {
    font-size: 20px;
    font-weight: 500;
}

em {
    font-weight: 500;
}

figcaption {
    font-size: 12px;
}

a, button {
    font-size: 14px;
    text-transform: uppercase;
}

@media (max-width: 1280px) {
    body {
        font-size: 14px;
    }

    h6 {
        font-size: 16px;
    }
}

